In [1]:
import numpy as np
import pandas as pd
from nltk.stem.snowball import SnowballStemmer
import pymorphy2
import time

In [2]:
df_x_train = pd.read_csv("Source/x_train.csv")

In [3]:
df_x_train

,Unnamed: 0,CLIENT_ID,RETRO_DT,tokens,urls_hashed
0,0,5909886,20200911,форм 1 мачеха 1 работы 1 пасынка 1 горячую 1 м...,7bbcc146c0ba4df814701ff7297b2205 1 ee0d49cbc99...
1,1,1385448,20210519,platiza 1 мобильные 2 sergej 1 code 3 отказов ...,1889e0cbd3e343e9521a07aa312257ac 2 8253d8d3a67...
2,2,1866195,20210913,sims 3 кредит 1 языке 1 разлива 1 огромное 1 о...,6e617b4bfdbef85d8b09ec08ac72f0f2 1 94309f5f116...
3,3,1587081,20210702,code 1 историй 1 scf 1 шаг 1 деньги 3 серый 1 ...,1e833434273e04ba76cfcfb4b48ad21b 3 aee71c8d18d...
4,4,1400908,20210522,отказов 2 tovara 1 сергея 1 купальный 1 чёрный...,83e85bee0d81c0e9e5047e202cddf534 3 6e617b4bfdb...
...,...,...,...,...,...
303772,303772,6220063,20201211,морковь 1 вред 1 описание 1 калорийность 1 пол...,2c45709d8e05171bfb39b7528e97ac5f 1 0028c3b6811...
303773,303773,5543361,20200507,мотылёк 1 uploader 1 photo 1 провокатор 2 смс ...,30d2c325f9f511359a476c67e1130ef5 2 18394875e74...
303774,303774,224227891,20211218,чёрный 1 деньги 12 бытовой 1 серый 3 маршрутов...,e7f1dd5dbad8f9535e775b21bb0b9173 1 a4dba6829fa...
303775,303775,5909478,20200911,kabelya 1 pesen 2 статья 2 опубликовала 1 купи...,ccbbab80c3bf2d7533e2ca1baed78073 1 503c50cb580...
303776,303776,5536683,20200506,smartfony 1 шины 4 итак 1 ипотеку 1 сергею 1 с...,3889d372c1b472a980a9225bc746672a 1 c11f2dc2461...

In [4]:
def unique_words_count_2(data_frame):
    tokens = data_frame["tokens"]
    # print(len(tokens))
    words = {}
    morph = pymorphy2.MorphAnalyzer()

    for token in tokens:
        try:
            parsed_token = token.split(" ")
            parsed_words = [morph.parse(word)[0].normal_form for word in parsed_token[::2]]
            parsed_words_len = len(parsed_words)

            for i in range(0, parsed_words_len - 1):
                try:
                    words[parsed_words[i]] += int(parsed_token[2 * i + 1])
                except:
                    words[parsed_words[i]] = int(parsed_token[2 * i + 1])

        except:
            pass

    return words

In [5]:
def tokenQ(token, word):
    total = 0
    morph = pymorphy2.MorphAnalyzer()
    morphed_word = morph.parse(word)[0].normal_form
    try:
        parsed_token = token.split(" ")
        parsed_words = [morph.parse(word)[0].normal_form for word in parsed_token[::2]]
        parsed_words_len = len(parsed_words)
        # print(parsed_words_len)

        for i in range(0, parsed_words_len - 1):
            if morphed_word in parsed_words[i]:
                total += int(parsed_token[2 * i + 1]) 
    except:
        pass
    
    return total

In [6]:
pd.options.mode.chained_assignment = None

In [7]:
m = 1500
df_x_train_m = df_x_train[:m]
tokens_m = df_x_train_m["tokens"]

In [8]:
n = 100
s = time.perf_counter()
res = unique_words_count_2(df_x_train_m)
print(time.perf_counter()-s)
sorted_res = sorted(res.items(), key=lambda item: item[1], reverse = True)
lenght_res = len(sorted_res)
lenght_res
add_res = sorted_res[:n]
df_add_res = pd.DataFrame(add_res)
df_add_res.to_csv("Source/df_add_res.csv", index = False)
df_add_res

92.81510988000082

            0      1
0        заём  49618
1       карта  17654
2     новость  16277
3       embed  15825
4    смотреть  15641
..        ...    ...
95      войти   3125
96  программа   3080
97       step   3037
98      класс   3031
99        app   2975

[100 rows x 2 columns]

In [10]:
type(df_add_res)

pandas.core.frame.DataFrame